* {
  font-family: "MADE Canvas";
}
body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 1440px;
  height: 3342px;
  background: #ffffff;
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
}
